@font-face {
  font-family: "Archivo Black";
  src:
    url("../fonts/ArchivoBlack-Regular.woff2") format(".woff2"),
    url("../fonts/ArchivoBlack-Regular.woff") format(".woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/OpenSans-Regular.woff2") format(".woff2"),
    url("../fonts/OpenSans-Regular.woff") format(".woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/OpenSans-SemiBold.woff2") format(".woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format(".woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/OpenSans-Bold.woff2") format(".woff2"),
    url("../fonts/OpenSans-Bold.woff") format(".woff");
  font-weight: 700;
  font-style: normal;
}
.body {
  background-color: #111111;
  color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
}
.page {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 120px;
  padding-right: 120px;
  border: 2px solid red;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header__content {
  max-width: 793px;
}
.header__name {
  font-family: "Archivo Black", "Arial", sans-serif;
  font-size: 72px;
  margin-bottom: 15px;
}
.header__info {
  margin-bottom: 15px;
  opacity: 0.5;
}
.header__text {
  margin-bottom: 45px;
}
.header__image {
  width: 387px;
  height: 500px;
  object-fit: cover;
  padding-top: 40px;
}
.header__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 30px;
}
.header__link {
  text-decoration: none;
  color: #ffffff;
}
